extends layoutBS

block content

  .login
    form
      .form-group
        label(for="Username") Username
        input#Username.form-control.form-control-sm(type="username" placeholder="Username")
        small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
      .form-group
        label(for="Password") Password
        input#Password.form-control.form-control-sm(type="password" placeholder="Password")
      .form-group.form-check
        input#check.form-check-input(type="checkbox")
        label.form-check-label(for="check") Remember me
      .btn-toolbar
        .btn-group.mr-5
          button.btn.btn-primary.btn-sm(type="login") Login
        .btn-group.mr-5
          button.btn.btn-primary.btn-sm(type="button"  onclick="location.href='/signup'") Sign up

  .ul.nav.nav-tabs
      li.nav-item
        a.nav-link.active(href="/") Home
      li.nav-item
        a.nav-link.active(href="/review") Write reviews
      li.nav-item
        a.nav-link.active(href="/read") Read reviews

  .jumbotron
    h1.text-white Movie Reviews
    p Let's share reviews!
    .nav.navbar.navbar-light
      form.form-inline
        input.form-control-mr-sm-2(type="search" placeholder="Search a movie" "aria-label=Search")
        button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search

  .row
    .col-6
      h3 Highest rated
      ol
        li Wall E
    .col-6
      h3 Most Reviews
      ol
        li Ocean's eight
