extends layoutBS

block content
  header
    .head
      h1 Cheese
      medium The best movie review website
      
    .topnav
      ul
        li
          a.active(href="/") Home
        li
          a.active(href="/news") News
        if loggedIn
          if status=='teacher'
            li
              a.active(href="/users") Users
          li
            a.active(href="/profile") Profile
          li
            a.active(href="/review") Write reviews
          li
            a.active(href="/read") Read reviews
          li
            a.active(href="/logout") Logout
        else
          li.nav-item
            a.nav-link.active(href="/login") Login

        .search-container
          form(action='/action_page.php')
            input(type='text', placeholder='Search a movie', name='search',size="30")
            |       
            button(type='submit') submit
    .jumbotron
      h1.text-white All about movies


  whitecontent
    .row
      .col-6
        h3 Highest rated
        ol
          li Wall E
          li Before sunrise
          li Happy feet
          li The Chronicles of Narnia
          li Harry Potter
      .col-6
        h3 Most Reviews
        ol
          li Ocean's eight
          li Deadpool
          li Incredibles 2
          li Avengers
          li Fantastic Four
  
