doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  footer
    ul
      li.text-white Help
      li.text-white Feedback
    button(onclick="location.href='/'") return
