extends layoutBS

block content
  whitecontent
    .jumbotron
      h1 Login to Cheese
      p You must have a gmail account to login to Cheese

      a.btn.btn-danger(href="/auth/google")
        span.fa.fa-google-plus  Google
        
        
        
