extends layout

block content
  whitecontent
    h1=title

    form(method="post" action="saveReview")
      h2 Title
      input(type="text" name="headline")
      br
      h2 Content
      textarea(type="text" name="content" rows='4', cols='50')
      br
      input(type="submit" name="saveReview")
      
    p User Reviews 
    form(method="post" action="deleteReview")
      ol
        each r in rs 
          li 
            input(name="deleteReview" value=r.headline type="checkbox")
            e #{r.headline} --
            i #{r.content}
        input(type="submit" value="Delete checked items")
          
