extends layout

block content
  h1= title

  form
    .form-row
      .col-auto
        label First name
        input(type="text" placeholder="First name" required="")
      .col-auto
        label Last name
        input(type="text" placeholder="Last name" required="")
      .col-auto
        label Username
        .input-group
          .input-group-prepend
            .input-group-text @
          input#inlineFormInputGroup.form-control(type="text" placeholder="Username")
    .form-row
      .col-md-6
        label City
        input(type="text" placeholder="City" required="")
      .col-md-6
        label State
        input(type="text" placeholder="State" required="")
      .col-md-6
        label Zip
        input(type="text" placeholder="Zip" required="")
    .form-group
      .form-check
        input(type="checkbox" value="" required="")
        label.form-check-label
          | Agree to terms and conditions
    button.btn.btn-primary(type="submit") Submit form
