extends layoutBS

block content
  h1= title

  form
    .form-row
      .col-md-4.mb-3
        label(for="validationDefault01") First name
        input#validationDefault01.form-control(type="text" placeholder="First name" required="")
      .col-md-4.mb-3
        label(for="validationDefault01") Last name
        input#validationDefault01.form-control(type="text" placeholder="Last name" required="")
      .col-md-4.mb-3
        label(for="validationDefault01") Username
        .input-group
          .input-group-prepend
            .input-group-text @
          input#inlineFormInputGroup.form-control(type="text" placeholder="Username")
    .form-row
      .col-md-6.mb-3
        label(for="validationDefault01") City
        input#validationDefault01.form-control(type="text" placeholder="City" required="")
      .col-md-6.mb-3
        label(for="validationDefault01") State
        input#validationDefault01.form-control(type="text" placeholder="State" required="")
      .col-md-6.mb-3
        label(for="validationDefault01") Zip
        input#validationDefault01.form-control(type="text" placeholder="Zip" required="")
    .form-group
      .form-check
        input#invalidCheck2.form-check-input(type="checkbox" value="" required="")
        label.form-check-label
          | Agree to terms and conditions
    button.btn.btn-primary(type="submit") Submit form
