body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(/images/background.jpg)
}

a {
  color: #00B7FF;
}

.head h1{
  color: yellow;
  font-family: Didot, serif;
  font-size: 60px;
  font-weight:bold;
  left: 100px;
  position: relative;
  text-shadow: 1px 1px 0 #444;
}

.head medium{
  color: yellow;
  left: 70px;
  position: relative;
}

.head footer{
  color: yellow;
  left: 80px;
  position: relative;
}

.jumbotron{
  background-image: url(/images/index.jpg);
  background-size: 1000px 300px;
  position:relative;
  width:100%;
  top:30px;
}

.topnav{
  top:30px;
  position: relative;
}

.topnav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: yellow;
}

.topnav li {
  border-right: 1px solid #555;
  border-width: thin;
  float: left;
}

.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav li a:hover {
    background-color: white;
}

.topnav .search-container {
  position:relative;
  top:10px;
  right:8px;
  float: right;
}

whitecontent {
  color:white;
}

footer {
   position:absolute;
   bottom:50px;
   width:100%;
   height:60px;   /* Height of the footer */
}

footer .button{
  float: right;
}

.row{
  position:relative;
  //top:200px;
}


.login{
  //float:right;
  position:fixed;
  width: 250px;
  height: 200px;
  top:20px;
  left:1100px;
}
